full-news-page {
    .news-page {
        width: 80%;
        margin: 0 auto;
        h1 {
            width: 100%;
            margin-bottom: 20px;
            text-align: left;
            font-size: 35px;
        }
        form {
            width: 100%;
            text-align: left;
            border-radius: 3px;
            textarea {
                float: left;
                margin-top: 13px;
                padding: 20px;
                width: 100%;
                border: 0;
                font-size: 20px;
                box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.20);
            }
            button {
                margin-top: 13px;
                padding: 15px;
                float: right;
                border: none;
                text-align: center;
                color: #fff;
                background-color: #008CBA;
                font-size: 16px;
                font-weight: 500;
                right: 25px;
                bottom: 25px;
                border-radius: 3px;
                text-decoration: none;
            }
        }
        ul {
            float: left;
            width: 100%;
            list-style: none;
            margin-top: 13px;
            padding: 0;
        }
        .header {
            width: 100%;
            border-radius: 3px;
            padding-bottom: 13px;
            text-align: left;
            float: left;
            &.news {
                background-color: #fff;
                box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.20);
            }
            img {
                float: left;
                width: 100px;
                height: 100px;
                border-radius: 100%;
                margin-right: 15px;
                &.news-logo {
                    border-radius: 3px;
                    width: 55%;
                    height: auto;
                }
            }
            p {
                display: block;
                margin-left: 5px;
                font-size: 27px;
                font-weight: 500;
                border-bottom: solid 1px rgba(0, 0, 0, 0.2);
                text-transform: capitalize;
                &.title {
                    font-size: 35px;
                    margin-bottom: 0;
                    border-bottom: 0;
                    margin-top: 10px;
                }
            }
            span {
                font-size: 18px;
                color: #bfbfbf;
                text-transform: capitalize;
                &.tag {
                    font-size: 17px;
                    text-transform: uppercase;
                }
            }
            .content {
                width: 100%;
                margin-top: 5px;
                text-align: justify;
                font-size: 17px;
                padding: 5px;
                &.news {
                    padding-left: 15px;
                    padding-right: 15px;
                    letter-spacing: 0.7px;
                }
            }
        }
    }
}
