full-news-page {
    .news-content {
        width: 80%;
        position: relative;
        margin: 0 auto;
        background-color: white;
        margin-top: 13px;
        padding-bottom: 13px;
        text-align: left;
        box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.20);
        border-radius: 3px;
        .news-logo {
            float: left;
            padding: 0;
            width: 100%;
            img {
                height: 450px;
                width: 100%;
            }
        }
        .text {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            float: right;
            .title {
                color: gray;
                font-size: 20px;
            }
            .tag {
                color: #ccc;
                font-size: 15px;
                text-transform: uppercase;
            }
            .content {
                text-align: justify;
                font-size: 16px;
                color: darkgray;
                display: block;
                margin-bottom: 15px;
            }
        }
    }
    .comments {
        form {
            width: 80%;
            position: relative;
            margin: 0 auto;
            text-align: left;
            box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.20);
            border-radius: 3px;
            textarea {
                margin-top: 13px;
                padding: 20px;
                width: 100%;
            }
            button {
                margin-top: 13px;
                padding: 15px;
                float: right;
                border: none;
                text-align: center;
                color: #fff;
                background-color: #008CBA;
                font-size: 16px;
                font-weight: 500;
                right: 25px;
                bottom: 25px;
                border-radius: 3px;
                text-decoration: none;
            }
        }
    }
}
