<div class="col-lg-12">

    <div class="log-in-form" *ngIf="logIn==true">
        <h1>Sign in</h1>
        <form (ngSubmit)="formSubmit()">
            <div class="">
                <span class="label">Email address</span>
                <input type="email" name="email" placeholder="Your e-mail address" [(ngModel)]="data.email" required>
            </div>
            <div class="">
                <span class="label">Password</span>
                <input type="password" name="password" placeholder="Your password" [(ngModel)]="data.password" required>
            </div>
            <div class="reminder"><a href="#">Forgot your password?</a></div>
            <button type="submit" class="button">Sign in</button>
        </form>
    </div>
    <div class="popup-bg" *ngIf="logIn==true" (click)="close()"></div>
</div>
