 main-news {
     .main-news {
         position: relative;
         background-image: url('/static/assets/img/main-news.jpg');
         background-size: 100%;
         width: 100%;
         height: 400px;
         float: left;
         @include standard-div;
         .title {
             position: absolute;
             font-size: 35px;
             font-weight: 400;
             color: #fff;
             right: 15px;
             bottom: 13px;
             &:hover {
                 text-decoration: none;
                 color: #f1f1f1;
             }
         }
     }
 }
