weather {
    .weather {
        background-image: url('/static/assets/img/weather.jpg');
        @include standard-div;
        height: 400px;
        float: left;
        text-align: center;
        img {
            height: 150px;
            width: 150px;
            margin: 0 auto;
            margin-top: 85px;
            filter: opacity(80%);
        }
    }
}
