add-comment {
    .comments {
        form {
            width: 100%;
            text-align: left;
            border-radius: 3px;
            textarea {
                float: left;
                margin-top: 13px;
                padding: 20px;
                width: 100%;
                border: 0;
                font-size: 20px;
                box-shadow: 0.5px 1px 2px rgba(0, 0, 0, 0.20);
            }
            button {
                margin-top: 13px;
                padding: 15px;
                float: right;
                border: none;
                text-align: center;
                color: #fff;
                background-color: #008CBA;
                font-size: 16px;
                font-weight: 500;
                right: 25px;
                bottom: 25px;
                border-radius: 3px;
                text-decoration: none;
            }
        }
    }
}
