<div class="nav">
    <div class="container">
        <div class="logo">
            <a routerLink="/"><img src="static/assets/img/logo.png">newsmeal</a>
        </div>
        <nav class="list">
            <ul>
                <!-- <li *ngFor="let link of menu"><a routerLink="{{link.link}}" class="{{link.class}}">{{link.name}}</a></li>-->
                <li><a routerLink="trending">Trending</a></li>
                <li><a href="https://github.com/bakowroc/newsfeed-system" target="_blank">About us</a></li>

                <li *ngIf="!current_user"><a routerLink="sign-in" class="log-in">Sign in</a></li>
            </ul>
            <span *ngIf="current_user" (mouseover)="showMenu=true"><p>{{current_user.username}}</p><span class="person"><i class="material-icons person">person</i></span></span>
        </nav>
        <nav class="user" *ngIf="showMenu==true" (mouseleave)="!showMenu=false">
            <ul>
                <!-- <li *ngFor="let part of logMenu"><a routerLink="{{part.link}}"><i class="material-icons">{{part.icon}}</i><p>{{part.name}}</p></a></li>-->

                <li><a routerLink="settings"><i class="material-icons">settings</i><p>Account Settings</p></a></li>
                <li *ngIf="current_user.groups.length && current_user.groups[0].id !=3"><a routerLink="manage"><i class="material-icons">dashboard</i><p>Management Panel</p></a></li>

                <li><a (click)='logout()'><i class="material-icons">power_settings_new</i><p>Logout</p></a></li>
            </ul>
        </nav>
    </div>
</div>
