<table>
    <tr class="news-logo"><img class="news-logo" src="/static/assets/img/news.png"> </tr>
    <tr class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend eros eu vestibulum sodales. Cras nec est justo. Morbi sit amet leo a metus maximus mollis eu eget justo. Vestibulum ultricies hendrerit neque quis suscipit. Suspendisse potenti. </tr>
    <div href="/" class="full-width-button-area">
        <a href="/" class="button pull-right">Read more</a>
    </div>
</table>
