<div class="form">
    <form name="form" (ngSubmit)="addNews()">
        <input type="text" name="title" placeholder="Title" [(ngModel)]="news.title" minlength="3" maxlength="20" required>
        <!--

        <div *ngIf="form && form.title.errors">dfdf
            <div *ngIf="form.title.errors.required">Required0</div>
            <div *ngIf="form.title.errors.minlength">Short</div>
            <div *ngIf="form.title.errors.maxlength">Long</div>
        </div>
-->

        <label class="label">Select a category:</label>
        <select name="tag" [(ngModel)]="news.tag" required>
        <option *ngFor="let tag of tags" value="{{tag.id}}">{{tag.name}}</option>
        </select>
        <textarea name="desc" placeholder="The content of the article" [(ngModel)]="news.desc" required></textarea>

        <button type="submit" class="button"><i class="material-icons">done</i></button>
    </form>
</div>
