body {
    background-color: #f1f1f1;
    font-family: 'Lato';
    font-weight: 400;
    .button {
        color: #fff;
        padding: 12px;
        background-color: #f65753;
        margin-top: 10px;
        float: right;
        border-radius: 3px;
    }
}

my-app {
    .container {
        padding: 0;
    }
    .container-fluid {
        padding: 0;
    }
}
