body {
    background-color: #f1f1f1;
    font-family: 'Lato';
    font-weight: 400;
    .button {
        position: absolute;
        color: #fff;
        padding: 12px;
        background-color: #f65753;
        right: 25px;
        bottom: 10px;
        border-radius: 3px;
        text-decoration: none;
    }
}

my-app {
    .container {
        padding: 0;
    }
    .container-fluid {
        padding: 0;
    }
}
