body {
    background-color: #eee;
    font-family: 'Lato';
    font-weight: 400;
    overflow-x: hidden;
    padding-top: 65px;
}

my-app {
    .container {

    }
    .container-fluid {
        padding: 0;
    }
}
