<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="menu">
                <ul>
                    <!--tak powinno byc ale nie dziala-->
                    <!--<li *ngFor="let part of menu"><a (click)='part.link'>{{part.name}}</a></li>-->

                    <a (click)="close() || (component.post = true)">
                        <li>Posts</li>
                    </a>
                    <a (click)="close() || (component.addPost = true)">
                        <li>Add Post</li>
                    </a>
                    <a (click)="close() || (component.comments = true)">
                        <li>Comments</li>
                    </a>
                    <a (click)="close() || (component.categories = true)">
                        <li>Categories</li>
                    </a>
                    <a (click)="close() || (component.users = true)">
                        <li>Users</li>
                    </a>
                    <a (click)="close() || (component.addUser = true)">
                        <li>Add User</li>
                    </a>
                    <a (click)="close() || (component.groups = true)">
                        <li>Groups</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="content">
                <posts [show]="component.post"></posts>
                <add-post [show]="component.addPost"></add-post>
                <comments-view [show]="component.comments"></comments-view>
                <categories [show]="component.categories"></categories>
                <users [show]="component.users"></users>
                <add-user [show]="component.addUser"></add-user>
                <groups [show]="component.groups"></groups>
            </div>
        </div>
    </div>
</div>
