<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="menu">
                <ul>
                    <!--tak powinno byc ale nie nie wiem jak zrobic zeby dzialalo-->
                    <!--<a *ngFor="let part of menu" (click)="menu.link">
    <li [ngClass]="styles(component)">{{part.name}}</li>
</a>-->
                    <a (click)="close() || (componentPost = true)">
                        <li [ngClass]="styles(componentPost)"><i class="material-icons">library_books</i>Posts</li>
                    </a>
                    <a (click)="close() || (component.addPost = true)">
                        <li [ngClass]="styles(component.addPost)"><i class="material-icons">add</i>Add Post</li>
                    </a>
                    <a (click)="close() || (component.comments = true)">
                        <li [ngClass]="styles(component.comments)"><i class="material-icons">insert_comment</i>Comments</li>
                    </a>
                    <a (click)="close() || (component.categories = true)">
                        <li [ngClass]="styles(component.categories)"><i class="material-icons">style</i>Categories</li>
                    </a>
                    <a (click)="close() || (component.users = true)">
                        <li [ngClass]="styles(component.users)"><i class="material-icons">person</i>Users</li>
                    </a>
                    <a (click)="close() || (component.groups = true)">
                        <li [ngClass]="styles(component.groups)"><i class="material-icons">group</i>Groups</li>
                    </a>
                    <!-- <a routerLink="posts">Posts</a>-->
                </ul>
            </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <div class="content">
                <!-- <router-outlet></router-outlet>-->
                <posts [show]="componentPost"></posts>
                <add-post [show]="component.addPost"></add-post>
                <comments-view [show]="component.comments"></comments-view>
                <categories [show]="component.categories"></categories>
                <users [show]="component.users"></users>
                <groups [show]="component.groups"></groups>
            </div>
        </div>
    </div>
</div>
