users {
    @include table;
    @include form;
    @include icons;
    .button {
        position: initial;
        font-size: 12px;
        padding: 5px;
        &.delete {
            background: rgb(212, 90, 90);
        }
    }
}
