<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Joined</th>
                <th>Group</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.date_joined | date : 'shortDate'}}</td>
            <td>{{user.groups.name}}</td>
            <td>
                <button class="button">set as redactor</button>
                <button class="button delete" *ngIf="user.groups.name == 'News manager'">obtain the redactor's permission</button>
                <i class="material-icons">delete</i>
            </td>
        </tr>
        <tbody>
        </tbody>
    </table>
</div>
