single-news {
    .single-news {
        background: #f9f9f9;
        float: left;
        @include standard-div;
        box-sizing: border-box;
        .single-news-img{
            float: left;
            width: 100%;
            position: relative;
            height: 250px;
            overflow: hidden;
            img{
                float: left;
                width: 100%;
            }
            .single-news-header{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 20px;
                float: left;
                padding: 20px;
                color: #fff;
                background: rgba(#2f313e, 0.9);
                margin: 20px 0;
                width: auto;
                padding: 40px;
                .single-news-tag{
                    float: left;
                    font-weight: 600;
                    color: #d45446;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                .single-news-date{
                    float: right;
                    color: #fff;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                .single-news-title{
                    float: left;
                    font-size: 56px;
                    font-weight: 600;
                    color: #fff;
                    clear: both;
                }
                .single-news-author{
                    float: left;
                    width: 100%;
                }
            }
        }

        .single-news-content{
            float: left;
            padding: 60px;
            font-size: 18px;
            line-height: 1.6;
            text-align: justify;
        }
    }

}
