<div class="single-news" *ngIf="SingleNews">
    <div class="single-news-img">
        <img src="/static/assets/news/{{SingleNews.id}}.png">

        <header class="single-news-header">

                <div class="single-news-tag">
                    {{SingleNews.tag.name}}
                </div>

                <div class="single-news-date">
                    {{SingleNews.date | date : 'shortDate'}}
                </div>

                <h1 class="single-news-title">
                    {{SingleNews.title}}
                </h1>

                <div class="single-news-author">
                    {{SingleNews.author.username}}
                </div>

        </header>

    </div>

    <article class="single-news-content">
        {{SingleNews.desc}}
    </article>
</div>
