<div class="single-news" *ngIf="SingleNews">
    <ul>
        <li>
            <div class="header">
                <img src="/static/assets/news/logo.png">
                <h1>{{SingleNews.title}}</h1>
                <span class="author">by {{SingleNews.author.username}}</span>
                <span>{{SingleNews.tag.name}}</span>
                <span class="date">{{SingleNews.date}}</span>
                <div class="content">
                    {{SingleNews.desc}}
                </div>
            </div>
            <li>
    </ul>
</div>
