<div class="popup">
    <form class="form" name="addPost" (ngSubmit)="newsUpdate(news.id)" novalidate>
        <input type="text" name="title" placeholder="Title" [(ngModel)]="news.title" required>

        <label class="label">Change a category:</label>
        <select name="tag" [(ngModel)]="news.tag" required>
            <option selected="selected" *ngIf="news.tag">{{news.tag.name}}</option>
            <option *ngFor="let tag of tags" value="{{tag.id}}">{{tag.name}}</option>
        </select>
        <textarea name="desc" placeholder="The content of the article" [(ngModel)]="news.desc" required></textarea>

        <button type="submit" class="button"><i class="material-icons">done</i></button>
    </form>
</div>
<!--<a class="popup-bg" routerLink="../../../posts"></a>-->
<a class="popup-bg" (click)="go()"></a>
