add-tag {
    .standard-div {
        @include standard-div;
        margin: 0 auto;
        height: 200px;
        @include form;
        @include icons;
        .form {
            padding: 20px;
            .label {
                color: #8e8e8e;
            }
            .button {
                position: initial;
                float: right;
                margin-top: 15px;
            }
        }
    }
}
