<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="content">
        <div class="userForm">
            <form name="user" (ngSubmit)="formSubmit()" novalidate>
                <h1>Account settings</h1>

                <span class="label">Username: </span>
                <input type="text" name="username" required>

                <span class="label">Email Address: </span>
                <input type="email" name="email" required>

                <span class="label">Group: </span>
                <input type="text" required>

                <span class="label">Confirm changes: </span>
                <input type="password" name="password" placeholder="Enter your password" required>

                <button type="submit" class="button"><i class="material-icons">done</i></button>
            </form>
        </div>
    </div>
</div>
