settings {
    .content {
        [class*="col-"] {
            padding: 0px;
        }
        display: flex;
        float: left;
        @include standard-div;
        background: white;
        .userForm {
            margin: 0;
            float: left;
            padding: 20px;
            height: 600px;
            width: 100%;
            border-left: solid 1px #f0f0f0;
            h1 {
                font-size: 25px;
            }
            @include form;
            input[type=email],
            input[type=text],
            input[type=password] {
                border-bottom: solid 1px #fabcbf;
            }
            /*input[type=file] {
    background: #5eaff2;
}*/
            .button {
                background-color: #5eaff2;
                position: initial;
                margin-top: 15px;
                float: right;
            }
            .avatar {
                width: 100%;
                img {
                    border-radius: 100%;
                    display: block;
                    margin: 0 auto;
                    height: 150px;
                    width: 150px;
                    margin-bottom: 40px;
                }
            }
        }
    }
}
